:root {
    --size: 1.75;
}

/* .command {
    cursor: pointer;
} */

#matrix-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9999;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#matrix-canvas {
    width: 100%;
    height: 100%;
}
.loading-text {
    position: absolute;
    color: #c71585; /*mediumvioletred*/
    font-family: monospace;
    font-size: 24px;
    text-shadow: 0 0 5px #c71585; /*mediumvioletred*/
}

.glow {
    color: inherit;
    /* The glow will always match the text color because of currentColor */
    text-shadow:
        0 0 10px currentColor,
        0 0 15px currentColor,
        0 0 30px currentColor;
    animation: glowPulse 1s ease-in-out infinite alternate;
}

.glow-small {
    color: inherit;
    text-shadow:
        0 0 4px currentColor,
        0 0 6px currentColor;
    animation: glowSmallPulse 1s ease-in-out infinite alternate;
}

@keyframes glowSmallPulse {
    from {
        text-shadow:
            0 0 4px currentColor,
            0 0 6px currentColor;
    }
    to {
        text-shadow:
            0 0 4px currentColor,
            0 0 6px currentColor;
    }
}

@keyframes glowPulse {
    from {
        text-shadow:
            0 0 10px currentColor,
            0 0 15px currentColor,
            0 0 30px currentColor;
    }
    to {
        text-shadow:
            0 0 20px currentColor,
            0 0 30px currentColor,
            0 0 40px currentColor;
    }
}
